.wave{
    
    animation:pathAnim-0 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: duration-1000 ease-in-out delay-1000;
}
@keyframes pathAnim-0{
    0%{
        d: path("M 0,600 C 0,600 0,300 0,300 C 61.502564102564094,328.3820512820513 123.00512820512819,356.76410256410253 211,353 C 298.9948717948718,349.23589743589747 413.4820512820513,313.325641025641 510,316 C 606.5179487179487,318.674358974359 685.0666666666666,359.93333333333334 764,329 C 842.9333333333334,298.06666666666666 922.2512820512818,194.94102564102562 1004,188 C 1085.7487179487182,181.05897435897438 1169.9282051282053,270.30256410256413 1243,305 C 1316.0717948717947,339.69743589743587 1378.0358974358974,319.84871794871793 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    25%{
        d: path("M 0,600 C 0,600 0,300 0,300 C 68.29999999999998,273.2923076923077 136.59999999999997,246.5846153846154 225,268 C 313.40000000000003,289.4153846153846 421.9000000000001,358.9538461538462 511,380 C 600.0999999999999,401.0461538461538 669.8,373.59999999999997 742,370 C 814.2,366.40000000000003 888.9000000000001,386.6461538461539 967,358 C 1045.1,329.3538461538461 1126.6,251.81538461538463 1206,234 C 1285.4,216.18461538461537 1362.7,258.0923076923077 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    50%{
        d: path("M 0,600 C 0,600 0,300 0,300 C 102.72564102564101,338.58717948717947 205.45128205128202,377.174358974359 281,351 C 356.548717948718,324.825641025641 404.92051282051284,233.8897435897436 485,255 C 565.0794871794872,276.1102564102564 676.8666666666667,409.26666666666665 764,406 C 851.1333333333333,402.73333333333335 913.6128205128205,263.04358974358973 975,222 C 1036.3871794871795,180.95641025641027 1096.6820512820514,238.55897435897435 1174,268 C 1251.3179487179486,297.44102564102565 1345.6589743589743,298.7205128205128 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    75%{
        d: path("M 0,600 C 0,600 0,300 0,300 C 100.81282051282051,322 201.62564102564102,344 284,324 C 366.374358974359,304 430.31025641025644,242 497,244 C 563.6897435897436,246 633.1333333333333,312 697,349 C 760.8666666666667,386 819.1564102564101,394 916,351 C 1012.8435897435899,308 1148.2410256410258,214 1242,197 C 1335.7589743589742,180 1387.8794871794871,240 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    100%{
        d: path("M 0,600 C 0,600 0,300 0,300 C 61.502564102564094,328.3820512820513 123.00512820512819,356.76410256410253 211,353 C 298.9948717948718,349.23589743589747 413.4820512820513,313.325641025641 510,316 C 606.5179487179487,318.674358974359 685.0666666666666,359.93333333333334 764,329 C 842.9333333333334,298.06666666666666 922.2512820512818,194.94102564102562 1004,188 C 1085.7487179487182,181.05897435897438 1169.9282051282053,270.30256410256413 1243,305 C 1316.0717948717947,339.69743589743587 1378.0358974358974,319.84871794871793 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
}
.cool {
    text-decoration: none;
    position: relative;
    color: black;
    font-weight:bold;
    font-size: 40px;
    
}
.cool::before {
    content: '';
    background-color: rgba(162,217,255,0.75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    transition: all .3s ease-in-out;
}

.cool:hover::before {
    bottom: 0;
    height: 100%;
}

.checkoutstuff{
    width: 100%;
    display:flex;
    justify-content: center;
    padding-top: 510px;
}

.checkoutstufftext{
    text-decoration: none;
    position: relative;
    color: black;
    font-weight:bold;
    font-size: 40px;
    margin: 0px 6px 0px 6px;
}

.container{
    display: grid;
}

.images-container{
    position:absolute;
    margin-top:0px
}